.ltech{
width: 178px;
height: 92px;
flex-shrink: 0;
border-radius: 4px;
background: var(--gradient, linear-gradient(135deg, #7D8085 0%, #393D46 41.69%));

}
.ltech1{
border-radius: 4px;
background: var(--gradient, linear-gradient(135deg, #7D8085 0%, #393D46 41.69%));
width: 395px;
height: 157.385px;
flex-shrink: 0;
}
.box{
    background: var(--gradient, linear-gradient(135deg, #7D8085 0%, #393D46 41.69%)); 
}
.text1{

line-height: 200%; 
letter-spacing: 0.48px;
}
.home{
    position: absolute;
    top: 400px;
}
.home3{
    position: absolute;
    top: 300px;
}
.home1{
    position: relative;
    bottom: 330px;
}
.home5{
    position: relative;
    bottom: 360px;
}
.home4{
    position: relative;
    bottom: 270px;
}
.home2{
    position: relative;
    right: 32px;
}
.home6{
    position: relative;
    bottom: 200px;
}
.home7{
    position: relative;
    bottom: 180px;
}
.home8{
    position: relative;
    bottom: 100px;
}
.home9{
    position: relative;
    bottom: 28px;
}
.home10{
    position: relative;
    bottom: 26px;
}
.home11{
    position: relative;
    bottom: 64px;
    left: 26px;
}
.home12{
    position: relative;
    top: 55px;
}
.home13{
    position: relative;
    bottom: 240px;
}
.home14{
    position: relative;
    top: 144px;
}
.home15{
    position: relative;
    bottom: 48px;
}